.app {
    display: flex;
}

.main-content {
    padding: 20px;
    width: 100%;
    transition: margin-left 0.3s ease;
}

.main-content.sidebar-open {
    margin-left: 200px;
}

.main-content.sidebar-closed {
    margin-left: 60px;
}

@media (max-width: 768px) {
    .main-content.sidebar-open {
        margin-left: 60px;
    }

    .main-content.sidebar-closed {
        margin-left: 60px;
    }
}
